.topnav{
    background-color: #fff8dc;
    overflow: hidden;
}

.topnav a {
    float: left;
    text-decoration: none;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
}

p {
    text-indent: 4mm;
    color: #000000;
}

header {
    background-color: peachpuff;
    color: darkblue;
}

aside {
    background-color: peachpuff;
    text-align: center;
    color: #000000;
}
body{
    background-color: blanchedalmond;
}

main {
    background-color: blanchedalmond;
    color: #000000;
}

footer {
    color: #000000;
    background-color: peachpuff;
    opacity: 0.5;
}

header{
    text-align: center;
}


main{
    color: blue;
    text-align: center;
}

abbr{
    text-decoration: none;
}

abbr title{
    color: brown;
}

footer{
    color: blue;
}

a{
    padding-right: 16px;
    text-decoration: none;
}
